.con {
  padding: 10px;
}

.con-title {
  font-weight: bold;
  padding-bottom: 10px;
}

.con-item {
  text-align: center;
  cursor: move;
}

.con-content{
  border-radius: 2px;
  border: solid 1px #ccc;
  background: #f8f8f8;
}